<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <hr>
        {% block content %}{% endblock %}
      </div>
</div>
<!-- Load jQuery -->
<script src="{% static 'assets/scripts/jquery.js' %}"></script>

<!-- Load DataTables -->
<script src="{% static 'assets/scripts/datatables.js' %}"></script>
<script src="{% static 'assets/scripts/datatables_bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>