{% extends "base.html" %}

{% block content %}
<h1>All User</h1>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User Email</th>
        <th>User Role</th>
        <th>Edit User</th>
        <th>Delete User</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td><a href="{% url 'edit_user' user.id %}">Edit</a> </td>
          <td> <a href="{% url 'delete_user' user.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}

